
.about-page{

padding-top:90px;

}



.about-cover{

height:700px;

position:relative;

}



.about-cover img{

width:100%;
height:100%;

object-fit:cover;

}



.cover-title{

position:absolute;

bottom:70px;

right:80px;

color:white;

}



.cover-title h1{

font-size:80px;

}



.cover-title p{

font-size:22px;

}





.brand-intro{

width:70%;

margin:120px auto;

text-align:center;

}



.brand-intro h2{

font-size:50px;

line-height:1.7;

}



.brand-intro p{

font-size:20px;

color:#666;

line-height:2;

}




.about-content{

width:85%;

margin:150px auto;

display:flex;

gap:80px;

align-items:center;

}



.about-photo{

width:50%;

}



.about-photo img{

width:100%;

}



.about-description{

width:50%;

}



.about-description h2{

font-size:40px;

}



.about-description p{

line-height:2;

color:#555;

}





.values{

width:85%;

margin:auto;

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}



.values div{

padding:40px;

border-top:1px solid #ccc;

}



.values h3{

font-size:50px;

color:#a47b45;

}





.manager{

width:80%;

margin:150px auto;

display:flex;

align-items:center;

gap:80px;

}



.manager img{

width:350px;

height:350px;

object-fit:cover;

}



.manager h2{

font-size:40px;

}




.final-image{

width:100%;

height:600px;

}



.final-image img{

width:100%;

height:100%;

object-fit:cover;

}
